# Editor's files
/.idea/
/__pycache__
/__pycache__/
__pycache__

# Dataset files
*.csv

# Audio files
*.mp3

# Temp code files
playground.py
playground
/playground
/playground/
playground/

# Anki files
*.apkg

# HTML files
*.html
